body {
    font-family: Arial;
    font-size: 24;
    background-color: rgb(237, 239, 241);
   
}

header {
  padding: 50px;
  text-align: right;
  background: #e2ebf3;
  color: #fff;
  font-size: 20;
}

.header2 {
  position: absolute;
  top: 10px;
  nav-left: 20px;
  padding: 10px;
  background-color: rgb(114, 235, 185);
}

.section-title {
  width: 300px;
  border-right: rgb(17, 17, 17) solid 5px;
  color: Red;

}

.section-text {
margin-left: 10px;

}


.description {
display: flex;



}

 
.container {
  position: relative;
  text-align: center;
  color: rgb(12, 12, 12);
}

.container img {
  width: 100%;
  height: 700px;
}
 

/* .container-test { */

  /* background-image: url("./images/Hero.jpg"); */

/* } */
.bottom-right {
  position: absolute;
  bottom: 50px;
  right: 20px;
  padding: 0px;
  background-color: chartreuse;
}

.bottom-right2 {
  position: absolute;
  bottom: 10px;
  right: 50px;
  padding: 0px;
  background-color: chartreuse;
}
  
.bottom-left {
  position: absolute;
  bottom: 2px;
  background-color: rgb(125, 190, 119)
}


.card {
  position: relative;
  padding: 20px;
  border:cornflowerblue 3px

      
}

.card img {
  width: 1631px;
  height: 500px;
 

}

.grid {
display: grid;
grid-template-columns:900px 900px;
margin-left: 211px;
border-left: black solid 5px;



}
.card1 {
  position: relative;
  background-color: rgb(237, 239, 241);
  padding: 10px;
  height: 200px;
  border: 0;
  
    
}

.card1 img {
  width: 700px;
  margin: 10;
  flex-wrap: wrap;
  flex-direction: row-reverse;

}

.contact {
  margin-right: 20px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  }

  .contact ul {
    list-style: none;
    display: inline-block;

    
  }

  .contact ul li{

    list-style-type: none;
    display: inline-block;

       
  }
  
.footer {
  text-align: center;
  padding: 30px;
  background-color: DarkSalmon;
  color: white;
}

@media (max-width: 900px) {
.card img {
  flex-wrap: wrap;
    }

}

@media (max-width: 900px) {
  .grid {
    flex-wrap: wrap;
  }
  
}

@media (max-width: 900px) {
  .container img {
      flex-wrap: wrap;
    }
    
}








  